.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 380px;
}
.delay {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.delay-num {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 16px 8px;
}
.delay-num:hover {
  border: 1px solid #000;
}
.delay-num:active {
  border: 1px solid #4e75ff;
  user-select: none;
}
.title-state {
  text-align: left;
}
.state {
  display: flex;
  gap: 48px;
  padding: 24px 48px 8px 48px;
  border-radius: 4px;
  border: 1px solid #808080;
}
.radio-state {
  display: flex;
  gap: 8px;
}
.radio {
  display: flex;

  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}
input[type='radio'] {
  accent-color: #4e75ff;
}
.create-btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 380px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 24px;
}
.create-btn:hover {
  background: #6c8cff;
}
